<li> <a href="/home/about">Вторая страница моего сайта (about)</a> </li>
<li> <a href="/home/about1">Третья страница моего сайта (about1)</a> </li>

@* =================================================*@
@* if                                               *@
@{
    string head = "Привет мир";
    bool isEnabled = false;
}
@if (isEnabled)
{
    <p>Добро пожаловать</p>
}
else
{
    <p>@head</p>
}

@{
    int x = 6;
}

<text>=========================================</text>

@* =================================================*@
@* switch                                           *@

@switch (x)
{
    case 5:
        <p>@(x * x)</p>
        break;
    case 6:
        <p>@(x + x)</p>
        break;
}
<text>=========================================</text>

@* =================================================*@
@* table and for                                    *@
<table>
    <thead>
        <tr><th>Name</th><th>Price</th></tr>
    </thead>
    <tbody>
        @foreach (Product p in Model)
        {
            <tr>
                <td>@p.Name</td>
                <td>@($"{p.Price:C2}")</td>
            </tr>
        }
    </tbody>
</table>
<text>=========================================</text>

@* =================================================*@
@* Цикл for                                         *@
@for (var i = 1; i < 6; i++)
{
    <p>Строка: @i</p>
}

<text>=========================================</text>
@* =================================================*@
@* Цикл while                                       *@
@{
    int x1 = 1;
}

@while (x1 < 6)
{
    <p>Строка: @x1</p>
    x1++;
}
<text>=========================================</text>

@* =================================================*@
@* Цикл do..while                                   *@
@{
    int x2 = 1;
}

@do
{
    <p>Строка: @x2</p>
    x2++;
}
while (x2 < 6);
<p>Конец</p>

<text>=========================================</text>
@* =================================================*@
@* Цикл foreach                                     *@

@{
    string[] phones = { "Lumia 950", "iPhone 6S", "Galaxy S 6", "LG G4" };
}
<ul>
    @foreach (var phone in phones)
    {
        <li>@phone</li>
    }
</ul>

<text>=========================================</text>
@* =================================================*@
@* Вывод текста в блоке кода                        *@
@{
    bool isEnabled1 = true;
}
@if (isEnabled1)
{
    @: Добро пожаловать
}

<text>=========================================</text>
@* =================================================*@
@* functions                                        *@
@functions
{
public int GetFactorial(int n)
{
    int result = 1;
    for (int i = 1; i <= n; i++)
        result *= i;
    return result;
}
}
<div>Факториал числа 6 равен: @GetFactorial(6)</div>
